.form-change-pass h1 {
    margin: 0;
    padding: 30px 0 10px 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#master #page .auth .box-wrap .form-change-pass .change-password {
    padding: 30px 0px;
}

#master #page .auth .box-wrap .form-change-pass .change-password .label {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

#master #page .auth .box-wrap .form-change-pass .change-password .input input {
    display: block;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #d3d3d3;
}

.row{
    margin: 20px 0px;
}

.relative{
    padding-bottom: 20px;
}

#master #page .auth .box-wrap .extra{
    border-top: 2px solid #eee;
    padding-top: 30px;
}

#master #page .auth .box-wrap .extra .login{
    text-align: center;
    font-size: 15px;
    color: gray;
}

#master #page .auth .box-wrap .extra .login a{
    text-decoration: none;
    font-weight: bold;
    color: #236CDE;
}